body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 200px;
    position: absolute;
}

.box {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
    transition: all 700ms ease-in-out;
    transform-origin: 0 0;
}

.blue {
    background-color: blue;
    transition: all 700ms ease-in-out;
    transform-origin: 0 100%;
}

.green {
    background-color: green;
    transition: all 700ms ease-in-out;
    transform-origin: 100% 100%;
}

.yellow {
    background-color: yellow;
    transition: all 700ms ease-in-out;
    transform-origin: 100% 0;
}

section:hover .red {
    transform: rotate(90deg);
}

section:hover .yellow {
    transform: rotate(-90deg);
}

section:hover .blue {
    transform: rotate(-90deg);
}

section:hover .green {
    transform: rotate(90deg);
}